mixin btn-first
    .btn-download.btn-download--first
        .btn-download__content
            p.btn-download__text Download 
            img(class="btn-download__icon"  src="Download.svg", alt="i")

mixin btn-second
    .btn-download.btn-download--second
        .btn-download__content
            p.btn-download__text Download
            img(src="Download.svg", alt="i")
            

mixin btn-third
    .btn-download.btn-download--third
        .btn-download__content
            p.btn-download__text Download
            img(src="Download.svg", alt="i")
            

mixin btn-fourth
    .btn-download.btn-download--fourth
        .btn-download__content
            p.btn-download__text Download
            img(src="Download.svg", alt="i")
            

//- mixin btn-download--big
//- mixin btn-download--with-icon--big