@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 25px 80px;
  margin: 0 auto;
}

/* header */

.wrapper_header {
  max-width: ;
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 52px;
}

.nav_menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
}

.menu {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-decoration: none;
}

.nav_contacts {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.navigation_contacts {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.header_botton1 {
  width: 218px;
  height: 52px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: white;
  background: linear-gradient(89.77deg, #ff7a00 0.2%, #ffb039 99.82%);
  box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
  border-radius: 25px;
  border: none;
}

.header_block1 {
  align-items: center;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 52px;
}

.block1_text {
}

.block1_img {
  padding-top: 63px;
}

.header_headline {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 49px;
  color: #111111;
}

.block1_text p {
  padding: 20px 0px 60px 0px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  color: #111111;
}

.header_button2 {
  width: 251px;
  height: 52px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: white;
  background: linear-gradient(89.77deg, #ff7a00 0.2%, #ffb039 99.82%);
  box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
  border-radius: 25px;
  border: none;
}

.background {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
}

.header_services {
  padding-top: 67px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}

.services {
  padding: 40px 20px;
  background: #ffffff;
  border-radius: 10px;
  font-family: Open Sans;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  filter: drop-shadow(0px 5px 20px rgba(17, 17, 17, 0.3));
}

.services_text {
  margin-top: 20px;
  color: rgba(17, 17, 17, 1);
}
/* навигация флексом выставить по середине текст, сделать отступы */

/* Our_rooms */

.Our_rooms {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0px 106px 0px;
}
/* расставить текст в картинках */
.Our_rooms h2 {
  padding-bottom: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  color: #2b7af1;
}

.rooms {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-gap: 20px;
}

.bt_more {
  padding: 8px 20px;
  color: white;
  background: linear-gradient(89.77deg, #ff7a00 0.2%, #ffb039 99.82%);
  box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
  border-radius: 25px;
  border: none;
}

.bt_all_rooms {
  margin-top: 60px;
  padding: 15px 50px;
  color: white;
  background: linear-gradient(89.77deg, #ff7a00 0.2%, #ffb039 99.82%);
  box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
  border-radius: 25px;
  border: none;
}

.rooms h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  padding-bottom: 65px;
}

.rooms_text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.room1 {
  grid-column: span 2;
  background: url(images/room1.png);
  padding: 116px 20px 20px 40px;
}

.room_location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}

.room_location_text {
  display: flex;
  justify-content: flex-start;
}

.room2 {
  background: url(images/room3.png);
  padding: 116px 20px 20px 40px;
}

.room3 {
  background: url(images/room2.png);
  padding: 20px 20px 20px 40px;
}

.new_room {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: white;
  background: #5cb85c;
  border-radius: 20px;
  border: none;
  padding: 8px 15px;
}

.room4 {
  grid-column: span 2;
  background: url(images/room4.png);
  padding: 116px 20px 20px 40px;
}
/* расставить текст в картинках */

/* About_us */

.About_us h2 {
  padding-bottom: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  color: #2b7af1;
}

.About_us_text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #111111;
}

.About_us_numbers {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  color: #2b7af1;
}

.About_us_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 99px;
}

.About_us_statistic {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px;
}

.Statistic {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 20px;
}

.stat_img {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.stat_content {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.devider {
  padding-top: 100px;
}

/* Contacts */

.Contacts {
  padding: 107px 0px 160px 0px;
}

.Contacts_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box1 {
  grid-row-start: 1;
  grid-row-end: 2;
}

.box2 {
  grid-row-start: 2;
  grid-row-end: 3;
  padding-top: 92px;
}

.Contacts_container h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  color: #2b7af1;
  padding-bottom: 42px;
}

.Contacts_text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #111111;
  text-decoration: none;
}

.Contacts_button {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: white;
  background: linear-gradient(89.77deg, #ff7a00 0.2%, #ffb039 99.82%);
  box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
  border-radius: 25px;
  border: none;
  padding: 8px 30px;
}

.box1_1,
.box1_2,
.box1_3 {
  display: flex;
  align-items: center;
}

.box1_2 {
  padding: 15px 0px;
}

.box1 img {
  padding-right: 20px;
}

.box2_1 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.box2_1_1 {
  display: flex;
  align-items: center;
}

.box2_2 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.box2_2_1 {
  display: flex;
  align-items: center;
}

.box2 img {
  padding-right: 20px;
}

/* reviews */

.Reviews {
  display: grid;
  position: relative;
}

.Reviews h2 {
  padding-top: 100px;
  padding-bottom: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 130%;
  color: #ffffff;
}

.Reviews_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.Reviews_box {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  background: #ffffff;
  border-radius: 10px;
  padding: 40px;
}

.Reviews_content h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #2b7af1;
}

.Reviews_box_text {
  grid-column: span 2;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #111111;
  padding: 23px 0px 38px 0px;
}

.Reviews_content h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 130%;
  color: #2b7af1;
}

.Reviews_town {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  color: #111111;
}

.Reviews_data {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #111111;
}

.slider {
  padding-top: 60px;
  justify-self: center;
}

.background_2 {
  width: 1440px;
  left: -80px;
  position: absolute;
  z-index: -2;
}

.Vector1 {
  position: absolute;
  top: 40px;
  right: -40px;
  z-index: -1;
}

.arrow_left {
  position: absolute;
  top: 290px;
  left: -40px;
}

.arrow_right {
  position: absolute;
  top: 290px;
  right: -40px;
}

/* Feedbacks */

.Feedbacks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 84px;
  padding: 200px 72px 0 188px;
}

.Feedback_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background: #ffffff;
  border-radius: 10px;
  filter: drop-shadow(0px -5px 20px rgba(41, 41, 42, 0.2));
}

.Feedback_form h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #2b7af1;
  text-align: center;
  padding-bottom: 24px;
}

.Feedback_form input,
textarea {
  border: 1px solid rgba(17, 17, 17, 0.5);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba(17, 17, 17, 0.5);
}

.forms_email {
  margin: 15px 0;
}

.bt_feedback_form {
  color: white;
  background: linear-gradient(89.77deg, #ff7a00 0.2%, #ffb039 99.82%);
  box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
  border-radius: 25px;
  border: none;
  padding: 15px 30px;
  margin-top: 24px;
  align-self: center;
}

.Feedback_text {
  grid-column: span 2;
}

.Vector2 {
  position: absolute;
}

.Feedback_text_main {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #111111;
  padding: 40px 0px 20px 43px;
}

.Feedback_text h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #2b7af1;
  padding-left: 43px;
}

.Feedback_text_director {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #111111;
  padding-left: 43px;
}

/* footer */

.navigation_and_contacts {
  display: grid;
  grid-template-columns: 1fr auto;

  padding-top: 200px;
}

.nav_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_footer a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.contacts_footer_and_socials {
  display: flex;
}

.contacts_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts_phone {
  padding-left: 20px;
}

.contacts_footer a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials img {
  padding-left: 10px;
}

.background_footer {
  width: 1440px;
  bottom: -25px;
  left: 1px;
  position: absolute;
  z-index: -1;
}

.copyright_and_agreement {
  display: flex;
  padding: 21px 0px 22px 0px;
}

.copyright {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  padding-right: 229px;
}

.agreement {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

/* разместить nav */
